.bg6{
    /* Set background image */
     background-image: url('../assets/treebg.jpg');
   
     /* Set background size and position */
     background-size: cover;
     background-position: center;
     
   
     /* Set minimum height to cover the entire viewport */
     min-height: 100vh;
   }